<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Magazines</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- Update path for styles.css -->
    <script>
        function toggleUserTable() {
            var table = document.getElementById("usersTable");
            var button = document.getElementById("viewUsersBtn");
            
            if (table.style.display === "none") {
                table.style.display = "block";
                button.textContent = "Hide Users";
            } else {
                table.style.display = "none";
                button.textContent = "View All Users";
            }
        }
        function toggleUserPenaltyTable() {
            var table = document.getElementById("userPenaltyTable");
            var button = document.getElementById("viewUserPenaltyBtn");
            
            if (table.style.display === "none") {
                table.style.display = "block";
                button.textContent = "Hide Users";
            } else {
                table.style.display = "none";
                button.textContent = "View All Users";
            }
        }
        setTimeout(function() {
            var flashMessage = document.getElementById('flash-message');
            if (flashMessage) {
                flashMessage.style.display = 'none';
            }
        }, 5000);  // Hide after 5 seconds
    </script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Library Logo" class="logo">
                <ul class="nav-links">
                    <li><a href="{{ url_for('index2') }}">Manage Books</a></li>
                    <li><a href="{{ url_for('amagazines') }}">Manage Magazines</a></li>
                    <li><a href="{{ url_for('aevents') }}">Manage Events</a></li>
                    <li class="dropdown">
                        <a href="{{ url_for('ausers') }}">Manage Users</a>
                        <ul class="dropdown-content"> <!-- Dropdown for Manage Magazines -->
                            <li><a href="#AddUserForm">Add User</a></li>
                            <li><a href="#UpdateUserForm">Update User</a></li>
                            <li><a href="#DeleteUserForm">Delete User</a></li>
                            <li><a href="#UserBooksBorrowed">User-Books Borrowed</a></li>
                            <li><a href="#FindPenalty">Find Penalties</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('astats2') }}">View & Query Dashboard</a></li>
                </ul>
            </div>
            <div class="navbar-right">
                <span class="username">Admin</span>
            </div>
        </nav>
    </header>

<!-- Flash message container -->
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="flash-message">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <br><br>

    <main>
        <h1>Library Users</h1>

        <section id="MU">
                <table border="1" cellpadding="10">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Account ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Membership Type</th>
                            <th>Join Date</th>
                            <th>Items Borrowed</th>
                            <th>Penalty</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if users %}
                            {% for user in users %}
                                <tr>
                                    <td>{{ user[0] }}</td> 
                                    <td>{{ user[8] }}</td> 
                                    <td>{{ user[2] }}</td> 
                                    <td>{{ user[4] }}</td> 
                                    <td>{{ user[9] }}</td> 
                                    <td>{{ user[10] }}</td> 
                                    <td>{{ user[12] }}</td> 
                                    <td>{{ user[11] }}</td>  
                                    <td>{{ user[7] }}</td>  
                                    <td>{{ user[1] }}</td>  
                                    <td>
                                        <form action="/delete_user/{{ user[0] }}" method="POST" style="display:inline;">
                                            <button type="submit" onclick="return confirm('Are you sure you want to delete this user?');">Delete</button>
                                        </form>
    
                                        <form action="/update_user/{{ user[0] }}" method="POST" style="display:inline;">
                                            <input type="text" name="fname" placeholder="New First Name" >
                                            <input type="text" name="lname" placeholder="New Last Name" >
                                            <input type="text" name="membershipType" placeholder="New Membership Type" >
                                            <input type="number" name="itemsBorrowed" placeholder="New Items Borrowed" >
                                            <input type="number" name="penalty" placeholder="New Penalty" >
                                            <input type="text" name="phone" placeholder="New Phone" >
                                            <input type="email" name="email" placeholder="New Email" >
                                            
                                            <button type="submit">Update</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="9">No Users found.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            
        </section>

        <br><br>

        <section id="AddUserForm">
            <h2>Add a New User</h2>
            <form action="/add_user" method="POST">
                <label for="userID">User ID:</label>
                <input type="number" name="userID" id="userID" required>

                <label for="accountID">Account ID:</label>
                <input type="number" name="accountID" id="accountID" >

                <label for="fname">First Name:</label>
                <input type="text" name="fname" id="fname" required>

                <label for="lname">Last Name:</label>
                <input type="text" name="lname" id="lname" required>

                <label for="membershipType">Membership Type:</label>
                <input type="text" name="membershipType" id="membershipType" >

                <label for="itemsBorrowed">Items Borrowed:</label>
                <input type="number" name="itemsBorrowed" id="itemsBorrowed" >

                <label for="penalty">Penalty:</label>
                <input type="number" name="penalty" id="penalty" >

                <label for="phone">Phone:</label>
                <input type="text" name="phone" id="phone" required>

                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>


                <button type="submit">Add User</button>
            </form>
        </section>

        <br><br>

        <!-- Form to Update Based on MagazineID -->
        <section id="UpdateUserForm">
            <h2>Update User Details by UserID</h2>
            <form action="/update_user_by_id" method="POST">

                <label for="userID">User ID:</label>
                <input type="number" name="userID" id="userID" required>


                <label for="fname">First Name:</label>
                <input type="text" name="fname" id="fname" >

                <label for="lname">Last Name:</label>
                <input type="text" name="lname" id="lname" >


                <label for="membershipType">Membership Type:</label>
                <input type="text" name="membershipType" id="membershipType" >

                <label for="itemsBorrowed">Items Borrowed:</label>
                <input type="number" name="itemsBorrowed" id="itemsBorrowed" >

                <label for="penalty">Penalty:</label>
                <input type="number" name="penalty" id="penalty" >

                <label for="phone">Phone:</label>
                <input type="text" name="phone" id="phone" >

                <label for="email">Email:</label>
                <input type="email" name="email" id="email" >

                
                <button type="submit">Update User</button>
            </form>
        </section>


        <br><br>


        <!-- Form to Delete Based on UserID -->
        <section id="DeleteUserForm">
            <h2>Delete User by User ID</h2>
            <form action="/delete_user_by_id" method="POST">
                <label for="userID">UserID:</label>
                <input type="text" name="userID" id="userID" required>
                <button type="submit" onclick="return confirm('Are you sure you want to delete this User?');">Delete User</button>
            </form>
        </section>

        <br><br>

        <section id="UserBooksBorrowed">
            <h2>Users-Books Borrowed</h2>
            <button id="viewUsersBtn" onclick="toggleUserTable()">View All Users</button>
            <div id="usersTable" style="display:none;">
                <table border="1" cellpadding="10">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Account ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Membership Type</th>
                            <th>ItemID</th>
                            <th>ISBN</th>
                            <th>Title</th>
                            <th>BorrowedDate</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if borrows %}
                            {% for b in borrows %}
                                <tr>
                                    <td>{{ b[0] }}</td> 
                                    <td>{{ b[1] }}</td> 
                                    <td>{{ b[2] }}</td> 
                                    <td>{{ b[3] }}</td> 
                                    <td>{{ b[4] }}</td> 
                                    <td>{{ b[5] }}</td> 
                                    <td>{{ b[6] }}</td> 
                                    <td>{{ b[7] }}</td>  
                                    <td>{{ b[8] }}</td>  
                                    <td>{{ b[9] }}</td>  
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="9">No Users found.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            
            </div>
        </section>

        <br><br>

        <section id="FindPenalty">
            <h2>Get Users with Penalty</h2>
            <button id="viewUserPenaltyBtn" onclick="toggleUserPenaltyTable()">View All Users</button>
            <div id="userPenaltyTable" style="display:none;">
                <table border="1" cellpadding="10">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Account ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Penalty</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if users %}
                            {% for user in users %}
                                {% if user[11] is not none and user[11] > 0 %}
                                    <tr>
                                        <td>{{ user[0] }}</td> 
                                        <td>{{ user[8] }}</td> 
                                        <td>{{ user[2] }}</td> 
                                        <td>{{ user[4] }}</td> 
                                        <td>{{ user[11] }}</td>  
                                        <td>{{ user[7] }}</td>  
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="9">No Users found.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            
            </div>
        </section>
        
        
    </main>
    <br><br>
        <footer>
            <div class="footer-content">
                <div class="footer-section">
                    <h3>About Us</h3>
                    <p>Your trusted source for knowledge, literature, and culture. Open to the public for over 50 years.</p>
                </div>
                <div class="footer-section">
                    <h3>Technical Support</h3>
                    <p>Email: srayarala@hawk.iit.edu</p>
                    <p>Phone: +123 456 7890</p>
                    <p>Address: 123 Library St, Knowledge City, 45678</p>
                </div>
                <div class="footer-section">
                    <h3>Follow Us</h3>
                    <ul class="social-links">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 Library, All Rights Reserved</p>
            </div>
        </footer>
</body>
</html>
